<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <h3>Привет
            <p id="nickname"></p>
        </h3>
        <form id="loginForm" onsubmit="loginUser(event)">
            <input type="text" id="username"/>
            <input type="text" id="password"/>
            <button>Login</button>
        </form>
        <form id="chatForm" onsubmit="sendMessage(event)" style="display: none">
            <label for="messageSendTo">Сообщение для:</label>
            <select id="messageSendTo" onmouseenter="handleSendToChange()">
                <option value="all">Всех</option>
            </select>
            <label for="messageText">Текст:</label>
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            let ws = null;
            function loginUser(event) {
                event.preventDefault();

                let myFormData = new FormData();

                let username = document.getElementById('username').value
                let password = document.getElementById('password').value
                let nickname = document.getElementById('nickname')
                nickname.innerText = username

                myFormData.append("username", username);
                myFormData.append("password", password);

                fetch('http://127.0.0.1:8000/auth/token', {
                    method: 'POST',
                    body: myFormData})
                    .then(response => response.json())
                    .then(data => {
                        if (data.access_token) {
                            const loginForm = document.getElementById('loginForm');
                            loginForm.style.display = 'none';
                            const chatForm = document.getElementById('chatForm');
                            chatForm.style.display = 'block';

                            fetch('http://127.0.0.1:8000/chat/messages?token=' + data.access_token, {
                                method: 'GET'})
                                .then(response => response.json())
                                .then(data => {
                                    if (data.messages_list) {
                                        for (let i = 0; i < data.messages_list.length; i++) {
                                            let messages = document.getElementById('messages');
                                            let message = document.createElement('li');
                                            if (data.messages_list[i].receiver !== null) {
                                                let content = document.createTextNode(
                                                    data.messages_list[i].sender.username +
                                                    ' написал для ' + data.messages_list[i].receiver.username +
                                                    ": " + data.messages_list[i].text);
                                                message.appendChild(content);
                                                messages.appendChild(message);
                                            } else {
                                                let content = document.createTextNode(
                                                    data.messages_list[i].sender.username + ' написал для всех' +
                                                    ": " + data.messages_list[i].text);
                                                message.appendChild(content);
                                                messages.appendChild(message);
                                            }
                                        }
                                    }
                                })

                            ws = new WebSocket("ws://127.0.0.1:8000/chat/ws?token=" + data.access_token);
                            ws.onmessage = function(event) {
                                let messages = document.getElementById('messages')
                                let message = document.createElement('li')
                                let json_message = JSON.parse(event.data)
                                if (json_message.receiver === 'all') {
                                    let content = document.createTextNode(
                                        json_message.sender + ' написал для всех' +
                                        ": " + json_message.text);
                                    message.appendChild(content);
                                    messages.appendChild(message);
                                } else {
                                    let content = document.createTextNode(
                                        json_message.sender + ' написал для ' +
                                        json_message.receiver +
                                        ": " + json_message.text);
                                    message.appendChild(content);
                                    messages.appendChild(message);
                                }
                            };
                        } else {
                            console.error('Произошла ошибка ПОСЛЕ else:', response.statusText);
                        }
                    })
                    .catch(error => console.error('Произошла ошибка после кетч:', error));
            };

            function handleSendToChange(event) {
                // event.preventDefault()
                fetch('http://127.0.0.1:8000/chat/all_users')
                .then(response => response.json())
                .then(response => {
                    let optionsToAdd = response.users_list
                    if (optionsToAdd) {
                        let select = document.getElementById("messageSendTo");
                        select.innerHTML = ''
                        let option = document.createElement("option");
                            option.text = "Всех";
                            option.value = "all";
                            select.add(option);
                        for (let i = 0; i < optionsToAdd.length; i++) {
                            let option = document.createElement("option");
                            option.text = optionsToAdd[i];
                            option.value = optionsToAdd[i];
                            select.add(option);
                        }
                    }
                })
            };

            function sendMessage(event) {
                let send_to = document.getElementById("messageSendTo").value
                let text = document.getElementById("messageText").value
                let messageObj = {
                    receiver: send_to,
                    text: text
                }
                let jsonMessage = JSON.stringify(messageObj)
                ws.send(jsonMessage)
                text.value = ''
                event.preventDefault()
            };
        </script>
    </body>
</html>
